# File managed with ansible, all changes will be overwritten
#
# main volume: {{ hardware_audio_output_volume }}
# pre-amp volume: {{ softvol_volume }}%
# ^^ workaround for adjusting volume on change

# Use null as default audio device

pcm.!default null
ctl.!default null

# Add softvol plugin for boosting volume
pcm.softvol {
  type softvol
  slave {
    pcm "{{ hardware_audio_device }}"
  }
  control {
    name "pre-amp"
    card 0
  }
  min_dB {{ softvol_maxdb }}
  max_dB {{ softvol_mindb }}
  resolution {{ softvol_resolution }}
}

