[Unit]
Description=VBAN Receiver for {{ vban_stream }}@{{ vban_source }}
Wants=network-online.target

[Service]
CPUSchedulingPolicy={{ cpu_scheduling_policy | default("fifo", true) }}
CPUSchedulingPriority={{ cpu_scheduling_priority | default("20", true) }}
IOSchedulingClass={{ io_scheduling_class | default("realtime", true) }}
IOSchedulingPriority={{ io_scheduling_priority | default("5", true) }}

ExecStart=/opt/vban/vban_receptor \
    -i {{ vban_source }} \
    -p {{ vban_port |default("6980", true) }} \
    -s {{ vban_stream }} \
    -d {{ vban_audio_device | default("default", true) }} \
    -q {{ vban_network_quality | default("1", true) }} \
    &

WorkingDirectory={{ vban_bin }}
KillMode=process

[Install]
WantedBy=multi-user.target
