[Unit]
Description=VBAN Receiver for {{ vban_stream }}@{{ vban_target }}
Wants=network-online.target

[Service]
CPUSchedulingPolicy={{ cpu_scheduling_policy | default("fifo", true) }}
CPUSchedulingPriority={{ cpu_scheduling_priority | default("20", true) }}
IOSchedulingClass={{ io_scheduling_class | default("realtime", true) }}
IOSchedulingPriority={{ io_scheduling_priority | default("5", true) }}

ExecStart=/opt/vban/vban_emitter \
    -i {{ vban_target }} \
    -p {{ vban_port |default("6980", true) }} \
    -s {{ vban_stream }} \
    -d {{ vban_audio_device | default("default", true) }} \
    -r {{ vban_audio_rate | default("48000", true) }} \
    -f {{ vban_audio_format | default("16I", true) }} \
    &

WorkingDirectory={{ vban_bin }}
KillMode=process

[Install]
WantedBy=multi-user.target
